body {
    font-family: Arial;
    text-align: center;
    background: #f4f6f8;
}

header {
    background: #1e90ff;
    color: white;
    padding: 10px;
}

nav button {
    margin: 5px;
    padding: 8px 12px;
}

form {
    background: white;
    padding: 20px;
    margin: 30px auto;
    width: 300px;
    border-radius: 8px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 6px 0;
}

button {
    padding: 10px 15px;
    background: #1e90ff;
    color: white;
    border: none;
    cursor: pointer;
}

.main-btn {
    display: block;
    margin: 20px auto;
    width: 200px;
}
